.Full-div {
  margin:10px auto;
  padding:10px;
  width:100%;
}

@media (max-width:767px) {
  .Full-div {
    margin:2px auto;
    padding:2px;
    width:98%;
  }
}

.Half-div {
  margin:10px auto;
  padding:10px;
  width:50%;
}

@media (max-width:1199px) {
  .Half-div {
    width:60%;
  }
}

@media (max-width:991px) {
  .Half-div {
    width:80%;
  }
}

@media (max-width:767px) {
  .Half-div {
    width:98%;
  }
}