#Social-Media-heading {
  font-size:35px;
  text-align:center;
  padding-right:15px;
}

.Social-Media-icon:hover {
  color:rgb(0,0,0);
  transition-duration:.8s;
}

#Scroll-button {
  border-radius:10px;
  height:30px;
  width:30px;
  z-index:90;
  position:fixed;
  bottom:20px;
  left:20px;
  height:60px;
  width:60px;
  font-size:30px;
  color:#fff;
  background-color:#000;
  border:5px;
  border-color:#fff;
  text-align:center;
  display:none;
  box-shadow:3px 3px 3px rgba(1,1,1,.25);
}

#Scroll-button:hover {
  border:#000;
  color:#000;
  background-color:#fff;
  transition-duration:.8s;
}

#Scroll-link {
  color:inherit;
}

#Scroll-icon {
  margin:10px auto;
}

