.Heading-xxlarge {
  margin:0px auto;
  padding:10px;
  font-size:70px;
  font-family:Rock Salt, cursive;
}

@media (max-width:767px) {
  .Heading-xxlarge {
    padding:30px 10px 10px 10px;
    font-size:30px;
  }
}

.Heading-xlarge {
  margin:0px auto;
  padding:10px;
  font-size:28px;
  font-family:Rock Salt, cursive;
  line-height:40px;
}

@media (max-width:767px) {
  .Heading-xlarge {
    padding:30px 10px 10px 10px;
    font-size:25px;
  }
}

.Heading-large {
  font-size:20px;
  font-family:Rock Salt, cursive;
  margin:10px auto;
}