a:focus, a:hover {
  color:#1d4cd6;
  text-decoration:none;
}

a {
  color:#1d4cd6;
  text-decoration:none;
}

.Product-link {
  display:inline-block;
  width:200px;
  height:200px;
  margin:20px;
  text-align:center;
  background-color:transparent;
}

.Product-link:hover {
  height:220px;
  width:220px;
  transition-duration:.5s;
  background-color:rgba(82,193,255,.5);
}

.Portal-link {
  padding:2px;
  text-align:center;
}

.TrainingVideo-link {
  color:#77777a;
}

.TrainingVideo-link:hover {
  color:#1d4cd6;
}