.Blue-over {
  background-color:rgba(29, 76, 214, .75);
}

.Light-Blue-over {
  background-color:rgba(82, 193, 255, .75);
}

.Orange-over {
  background-color:rgba(255, 148, 6, .75);
}

.Red-over {
  background-color:rgba(255, 26, 26, .75);
}

.Purple-over {
  background-color:rgba(145, 56, 249, .75);
}

.Green-over {
  background-color:rgba(41,198, 14, .75);
}

.White-over {
  background-color:rgba(251,251,251, .35);
}